$bg:rgb(16,16,16);

.banner{
    height:400px;
    background-color: $bg;
    >img{
        width: 1220px;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        transition: transform 0.5s;

        &:hover{
            transform: translateY(-10px);
        }

        &::after{
            content:" ";
            width: 100%;
            height: 10;
            position: absolute;
            opacity:0.4
        }

    }
    button{
        padding: 1rem;
        width: 100px;
        outline: none;
        border: none;
        z-index: 10;
        border-radius: 5px;
        background-color: white;
        padding: 8px;
        transition: transform 0.5s;
        margin: 0.5rem;
        

        &:hover{
            color: red;
            transform: translateY(-5px);
        }
       
    }


}

.row{
    background-color: $bg;
    >h2{
        
        color: white;
        font-weight: 400;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    > div{
        display: flex;
        justify-content: space-evenly;
        overflow-x: auto;
        padding: 1rem;
        
    }
}
.card {
    width: 180px;
    margin: 0.4rem;
    height: 250px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        transform: translateY(-10px);
    }
}

.rowe{
    background-color: $bg;
    >h2{
        color: white;
        font-weight: 400;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    > div{
        display: flex;
        justify-content: space-evenly;
        overflow-x:auto;
        padding: 1rem;
        
    }
}

.car {
    width: 180px;
    margin: 0.4rem;
    height: 250px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        transform: translateY(-10px);
    }
}

.rowee{
    background-color: $bg;
    >h2{
        color: white;
        font-weight: 400;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    > div{
        display: flex;
        justify-content: space-evenly;
        overflow-x:auto;
        padding: 1rem;
        
    }
}

.ca {
    width: 180px;
    margin: 0.4rem;
    height: 250px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        transform: translateY(-10px);
    }
}

.roweee{
    background-color: $bg;
    >h2{
        color: white;
        font-weight: 400;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    > div{
        display: flex;
        justify-content: space-evenly;
        overflow-x:auto;
        padding: 1rem;
        
    }
}

.ba {
    width: 180px;
    margin: 0.4rem;
    height: 250px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        transform: translateY(-10px);
    }
}


.roweeee{
    background-color: $bg;
    >h2{
        color: white;
        font-weight: 400;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    > div{
        display: flex;
        justify-content: space-evenly;
        overflow-x:auto;
        padding: 1rem;
        
    }
}

.bar {
    width: 180px;
    margin: 0.4rem;
    height: 250px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        transform: translateY(-10px);
    }
}




