$bg:rgb(16,16,16);

.banner{
    height:400px;
    background-color: $bg;
}

.row{
    background-color: $bg;
    >h2{
        color: white;
        font-weight: 400;
    }
    > div{
        display: flex;
        justify-content: space-evenly;
        overflow-x: auto;
        padding: 1rem;
        
    }
}
.card {
    width: 180px;
    margin: 0.4rem;
    height: 250px;
    cursor: pointer;
    transition: transform 0.5s;

    &:hover {
        transform: translateY(-10px);
    }
}




